#!/bin/sh

set -e

. /usr/share/debconf/confmodule

CONFFILE="/etc/default/tomcat6"
JAVA_OPTS="-Djava.awt.headless=true -Xmx128m"

if [ -e "${CONFFILE}" ]
then
	. ${CONFFILE} || true

	if [ -n "${TOMCAT6_USER}" ]; then
		db_set tomcat6/username "${TOMCAT6_USER}"
	fi

	if [ -n "${TOMCAT6_GROUP}" ]; then
		db_set tomcat6/groupname "${TOMCAT6_GROUP}"
	fi

	if [ -n "${JAVA_OPTS}" ]; then
		db_set tomcat6/javaopts "${JAVA_OPTS}"
	fi
fi

db_input low tomcat6/username || true
db_input low tomcat6/groupname || true
db_input low tomcat6/javaopts || true
db_go

db_stop
